<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceUsername" value="crmadmin" />
    <add key="SourceServer" value="bwhcrmdev" />
    <add key="SourcePassword" value="Tt12345" />
    <add key="SourceDomain" value="BWH16" />
    <add key="SourcePort" value="80" />
    <add key="SourceOrganizationName" value="common" />
    <add key="SourceUseSSL" value="false" />
    

    <add key="TargetUsername" value="crmadmin" />
    <add key="TargetServer" value="bwhcrmdev" />
    <add key="TargetPassword" value="Tt12345" />
    <add key="TargetDomain" value="BWH16" />
    <add key="TargetPort" value="80" />
    <add key="TargetOrganizationName" value="common" />
    <add key="TargetUseSSL" value="false" />

    <add key="TimeOutInMinutes" value="360" />
    
    <!--Console|File-->
    <add key="Tracer" value="Console" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>