<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="SourceOrgConnectionString" value="AuthType=Office365;Username=crmadmin@VTBase.onmicrosoft.com; Password=1qaz!QAZ;Url=https://vtbase.crm.dynamics.com" />
    <add key="TimeOutInMinutes" value="360" />
    
    <!--Console|File-->
    <add key="Tracer" value="Console" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>